.MenuBox {
  display: flex;
  justify-content: center;
  background: #120E0A;
  border-style: solid;
  border-color: #CEB07A;
  border-radius: 2rem;
  min-width: 50%;
  min-height: 15vh;
  max-height: 80vh;
  padding: 1rem 1rem;
  overflow-y: scroll;
}

.MenuBox button {
    width: 40%;
}

@media screen and (max-width: 428px) {
  .MenuBox {
    min-width: 80%;
  }

}

.MenuBox div {
  width: 95%;
}