.login-form {
    align-items: center;
    margin: 0 auto;
    width: 60%;
    border-radius: 2rem;
}

.login-button {
    border-color: #ceb07a;
    border-width: 2px;
    border-style: double;
    background-color: #120f0a;  
    font-size: 1.5em;
    margin: 2rem 1rem;
}

.login-button a:hover{
    background-color: red;
}

input {
    margin: 1rem 1rem;
}
