.login-form {
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.login-button {
    font-size: 1.5em;
}

.login-button a:hover{
    background-color: red;
}

.create-account-button {
    margin: 2em 0 0 0;
    padding: 0 1em;
}
