.login-form {
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.login-button {
    border-color: #ceb07a;
    border-width: 2px;
    border-style: double;
    background-color: #120f0a;  
    font-size: 1.5em;
}

.login-button a:hover{
    background-color: red;
}
