.battle-simulator {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.battle-panel {
  /* display: flex;
  justify-content: center;
  margin-top: 20px; */
  /* background-color: orange; */
}

.character-panel {
  display: flex;
  width: 100%;
  height: 70%;
  /* background-color: orange; */
  justify-content: space-between;
  
}

.char-frame {
  background-color: #120E0A;
  color: white;
  padding: 20px;
  margin: 2rem 0rem;
  border-radius: 2rem;
  width: 33%;
  text-align: center;
}

.char-frame h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.char-frame .stats {
  font-size: 18px;
}

.char-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  width: 60%;
  height: 80%;
}


