.login-form {
    align-items: center;
    margin: 0 auto;
    width: 60%;
    /* border-radius: 2rem; */
}

.login-buttons {
    /* font-size: 1.5em; */
    margin-top: 2rem;
}

.login-button a:hover{
    background-color: red;
}

.create-account-button {
    background-color: #e4071200;
    border: solid 1px red;
    margin-bottom: 2rem;
}
input {
    /* margin: 1rem 1rem; */
}
