/* Main Styling */
#root {
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 1rem;
}

.default-container-scheme {
  border-color: #ceb07a;
  border-width: 2px;
  border-style: solid;
  background-color: #120f0a;  
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Specific Styling */
.StartMenu {
  display: flex;
  align-items: center;
  background-color: #120E0A;
  border-style: solid;
  border-color: #CEB07A;
  border-radius: 2rem;
  width: 60%;
  height: 15vh;
  margin-top: 2rem;
}

.MainButtons {
  /* background-color: orange; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainButtons button {
  width: 40%;
  height: 40%;
  font-size:x-large;
  font-weight: bold;
  margin: 2rem 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Fonts */
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* Animations & Media */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}